@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  background-color: lightpink;
  font-family: "Playfair Display", serif;
  margin: 0;
}

h1,
h2,
p {
  margin-top: 0;
}

h2 {
  border-bottom: dashed white 1px;
  color: white;
  margin-top: 48px;
  padding: 24px;
  text-align: center;
}

.App {
  background-color: teal;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 24px;
  color: white;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px;
}

.card .title {
  margin-bottom: 8px;
  color: teal;
}

.card .price {
  color: gray;
}

.card .image {
  height: auto;
  max-width: 100%;
}

/* Media queries for tablet */
@media only screen and (min-width: 550px) {
  .grid {
    column-gap: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
  }
}

/* Media queries for desktop */
@media only screen and (min-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
